<nav class="jet-mega-menu-container">
    <ul class="jet-mega-menu-list" role="navigation">
       <li id="jet-mega-menu-item-46" class="jet-mega-menu-item jet-mega-menu-item-type-post_type jet-mega-menu-item-object-page jet-mega-menu-item--mega jet-mega-menu-item-has-children jet-mega-menu-item--top-level jet-mega-menu-item-46">
          <div class="jet-mega-menu-item__inner" tabindex="1" aria-label="Plano de Saúde">
             <a href="https://fortplanos.com.br/plano-de-saude/" class="jet-mega-menu-item__link jet-mega-menu-item__link--top-level">
                <div class="jet-mega-menu-item__title">
                   <div class="jet-mega-menu-item__label">Plano de Saúde</div>
                </div>
             </a>
             <div class="jet-mega-menu-item__dropdown"><i class="fas fa-angle-down"></i></div>
          </div>
          <div class="jet-mega-menu-mega-container" data-template-id="64" data-template-content="elementor" data-position="default" style="--jmm-submenu-width:170.906px; --jmm-submenu-delta-x-offset:0px;">
             <div class="jet-mega-menu-mega-container__inner">
                <div data-elementor-type="wp-post" data-elementor-id="64" class="elementor elementor-64">
                   <section class="elementor-section elementor-top-section elementor-element elementor-element-8a46db5 elementor-section-stretched elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="8a46db5" data-element_type="section" data-settings="{&quot;stretch_section&quot;:&quot;section-stretched&quot;,&quot;background_background&quot;:&quot;classic&quot;}" style="width: 1349px; left: -217.5px;">
                      <div class="elementor-container elementor-column-gap-no">
                         <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-30cbd57" data-id="30cbd57" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-widget-wrap elementor-element-populated">
                               <div class="elementor-element elementor-element-a07cc0c elementor-widget elementor-widget-heading" data-id="a07cc0c" data-element_type="widget" data-widget_type="heading.default">
                                  <div class="elementor-widget-container">
                                     <style>.elementor-heading-title{padding:0;margin:0;line-height:1}.elementor-widget-heading .elementor-heading-title[class*=elementor-size-]>a{color:inherit;font-size:inherit;line-height:inherit}.elementor-widget-heading .elementor-heading-title.elementor-size-small{font-size:15px}.elementor-widget-heading .elementor-heading-title.elementor-size-medium{font-size:19px}.elementor-widget-heading .elementor-heading-title.elementor-size-large{font-size:29px}.elementor-widget-heading .elementor-heading-title.elementor-size-xl{font-size:39px}.elementor-widget-heading .elementor-heading-title.elementor-size-xxl{font-size:59px}</style>
                                     <p class="elementor-heading-title elementor-size-default">Mais procurados</p>
                                  </div>
                               </div>
                               <section class="elementor-section elementor-inner-section elementor-element elementor-element-a92b94d elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="a92b94d" data-element_type="section">
                                  <div class="elementor-container elementor-column-gap-default">
                                     <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-ce336ca" data-id="ce336ca" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                           <div class="elementor-element elementor-element-ea448af elementor-widget elementor-widget-image" data-id="ea448af" data-element_type="widget" data-widget_type="image.default">
                                              <div class="elementor-widget-container"> <img width="50" height="50" src="./page_files/amil.png" class="attachment-large size-large" alt="" loading="lazy"></div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-70c1f0f" data-id="70c1f0f" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                           <div class="elementor-element elementor-element-6a8c9d1 elementor-widget elementor-widget-heading" data-id="6a8c9d1" data-element_type="widget" data-widget_type="heading.default">
                                              <div class="elementor-widget-container">
                                                 <p class="elementor-heading-title elementor-size-default"><a href="https://fortplanos.com.br/plano-de-saude/amil/">Amil</a></p>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </section>
                               <section class="elementor-section elementor-inner-section elementor-element elementor-element-154f72e elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="154f72e" data-element_type="section">
                                  <div class="elementor-container elementor-column-gap-default">
                                     <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-3237af7" data-id="3237af7" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                           <div class="elementor-element elementor-element-5527b2e elementor-widget elementor-widget-image" data-id="5527b2e" data-element_type="widget" data-widget_type="image.default">
                                              <div class="elementor-widget-container"> <img width="50" height="50" src="./page_files/bradesco-saude.png" class="attachment-large size-large" alt="" loading="lazy"></div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d58b1d6" data-id="d58b1d6" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                           <div class="elementor-element elementor-element-49b5a64 elementor-widget elementor-widget-heading" data-id="49b5a64" data-element_type="widget" data-widget_type="heading.default">
                                              <div class="elementor-widget-container">
                                                 <p class="elementor-heading-title elementor-size-default"><a href="https://fortplanos.com.br/plano-de-saude/bradesco-saude/">Bradesco Saúde</a></p>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </section>
                               <section class="elementor-section elementor-inner-section elementor-element elementor-element-7cd528b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="7cd528b" data-element_type="section">
                                  <div class="elementor-container elementor-column-gap-default">
                                     <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-f00ae95" data-id="f00ae95" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                           <div class="elementor-element elementor-element-815f201 elementor-widget elementor-widget-image" data-id="815f201" data-element_type="widget" data-widget_type="image.default">
                                              <div class="elementor-widget-container"> <img src="./page_files/sulamerica-saude.png" width="50" height="50" class="attachment-large size-large" loading="lazy"></div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-d3566d4" data-id="d3566d4" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                           <div class="elementor-element elementor-element-213f790 elementor-widget elementor-widget-heading" data-id="213f790" data-element_type="widget" data-widget_type="heading.default">
                                              <div class="elementor-widget-container">
                                                 <p class="elementor-heading-title elementor-size-default"><a href="https://fortplanos.com.br/plano-de-saude/sulamerica-saude/">Sulamérica Saúde</a></p>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </section>
                               <section class="elementor-section elementor-inner-section elementor-element elementor-element-4e0f3d8 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="4e0f3d8" data-element_type="section">
                                  <div class="elementor-container elementor-column-gap-default">
                                     <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-6e1b0ba" data-id="6e1b0ba" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                           <div class="elementor-element elementor-element-db1ae0e elementor-widget elementor-widget-image" data-id="db1ae0e" data-element_type="widget" data-widget_type="image.default">
                                              <div class="elementor-widget-container"> <img src="./page_files/unimed.png" width="50" height="50" class="attachment-large size-large" loading="lazy"></div>
                                           </div>
                                        </div>
                                     </div>
                                     <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-b2f44d6" data-id="b2f44d6" data-element_type="column">
                                        <div class="elementor-widget-wrap elementor-element-populated">
                                           <div class="elementor-element elementor-element-c45e096 elementor-widget elementor-widget-heading" data-id="c45e096" data-element_type="widget" data-widget_type="heading.default">
                                              <div class="elementor-widget-container">
                                                 <p class="elementor-heading-title elementor-size-default"><a href="https://fortplanos.com.br/plano-de-saude/unimed/">Unimed</a></p>
                                              </div>
                                           </div>
                                        </div>
                                     </div>
                                  </div>
                               </section>
                            </div>
                         </div>
                         <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-1cdccbc" data-id="1cdccbc" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-widget-wrap elementor-element-populated">
                               <div class="elementor-element elementor-element-75d621c elementor-widget elementor-widget-text-editor" data-id="75d621c" data-element_type="widget" data-widget_type="text-editor.default">
                                  <div class="elementor-widget-container">
                                     <style>.elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap{background-color:#818a91;color:#fff}.elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap{color:#818a91;border:3px solid;background-color:transparent}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap{margin-top:8px}.elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter{width:1em;height:1em}.elementor-widget-text-editor .elementor-drop-cap{float:left;text-align:center;line-height:1;font-size:50px}.elementor-widget-text-editor .elementor-drop-cap-letter{display:inline-block}</style>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/allianz/">Allianz Saúde</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/ameplan/">Ameplan Saúde</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/bio-saude/">Bio Saúde</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/bio-vida/">Bio Vida</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/care-plus/">Care Plus</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/cruz-azul/">Cruz Azul Saúde</a></p>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-d27c516" data-id="d27c516" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-widget-wrap elementor-element-populated">
                               <div class="elementor-element elementor-element-4d5116e elementor-widget elementor-widget-text-editor" data-id="4d5116e" data-element_type="widget" data-widget_type="text-editor.default">
                                  <div class="elementor-widget-container">
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/gndi/">GNDI</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/interclinicas/">Interclínicas</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/omint/">Omint</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/plena-saude/">Plena Saúde</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/porto-seguro/">Porto Seguro Saúde</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/prevent-senior/">Prevent Senior</a></p>
                                  </div>
                               </div>
                            </div>
                         </div>
                         <div class="elementor-column elementor-col-25 elementor-top-column elementor-element elementor-element-50e2640" data-id="50e2640" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                            <div class="elementor-widget-wrap elementor-element-populated">
                               <div class="elementor-element elementor-element-056b6c5 elementor-widget elementor-widget-text-editor" data-id="056b6c5" data-element_type="widget" data-widget_type="text-editor.default">
                                  <div class="elementor-widget-container">
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/qualicorp/">Qualicorp</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/sao-cristovao/">São Cristóvão</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/seguros-unimed/">Seguros Unimed</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/sompo/">Sompo Saúde</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/trasmontano/">Trasmontano</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/unihosp/">Unihosp</a></p>
                                     <p><a href="https://fortplanos.com.br/plano-de-saude/">Anaizar todos</a></p>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </section>
                </div>
             </div>
          </div>
       </li>
    </ul>
 </nav>